<h1 mat-dialog-title> clave: {{data.key}}</h1>
<h1 mat-dialog-title>
  estas apuntos de eliminar al siguiente proceso
</h1>
<div mat-dialog-content>
  <p>{{data.estatus_general}}</p>
  <p>{{data.id_candidato}}</p>
  <p>{{data.fecha_modificacion}}</p>

</div>
<div mat-dialog-actions>
  <p>¿Estas seguro?</p>
  <button mat-button
          [mat-dialog-close]="false">
    Cancelar
  </button>
  <button mat-button
          [mat-dialog-close]="data"
          cdkFocusInitial>
    Si
  </button>
</div>
