.example-container {
  width: 100%;
  min-height: 650px;
}

.example-sidenav-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.mat-drawer-container{
  color: aliceblue;

}
.example-sidenav{
  background-color: #232A34;
  height: 100%;
  width: 180px;
}
