button {
  font-size: medium;
}

mat-list {
  width: 100%;
  text-align: left;
}

span {
  font-size: medium;
}

.color{
  background-color: #232A34;
}
.mat-toolbar{
  background-color: #232A34;
}
.mat-list-item{
  color: aliceblue;
}
.mat-icon{
  color: aliceblue;
}
.button{
  color: aliceblue;
}
.btn{
  color: aliceblue;

}
