<mat-form-field>
    <label for="busqueda"></label>
    <input id="busqueda"
           matInput
           (keyup)="applyFilter($event.target.value)"
           placeholder="Busqueda">
  </mat-form-field>
  
  <table mat-table
         [dataSource]="processDataSource"
         multiTemplateDataRows="true"
         matSort
         class="mat-elevation-z8">
  
    <ng-container
      *ngFor="let column of columns; let i = index"
      matColumnDef="{{column.columnDef}}">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef> {{column.header}} </th>
      <td mat-cell *matCellDef="let row"> {{column.cell(row)}}</td>
      <mat-header-cell> Actions</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-raised-button>Edit</button>
      </mat-cell>
    </ng-container>
  
  
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="processColumnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedProcessElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-position"> {{element.fecha_creacion}} </div>
            <div class="example-element-symbol"> {{element.id_reclutador}} </div>
            <div class="example-element-name"> {{element.id_candidato}} </div>
            <div class="example-element-weight"> {{element.id_examen}} </div>
          </div>
          <div class="example-element-description">
            <span class="example-element-description-attribution">{{element.fecha_creacion}}
              -- Activa </span>
          </div>
          <div class="example-element-description">
            <button mat-raised-button
                    color="primary"
                    (click)="editProcess(element)">
              Editar
            </button>
            <button mat-raised-button
                    color="warn"
                    (click)="deleteProcess(element)">Eliminar
            </button>
          </div>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="processColumnsToDisplay; sticky: true"></tr>
  
    <tr mat-row *matRowDef="let element; columns: processColumnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedProcessElement === element"
        (click)="expandedRecruiterElement = expandedProcessElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
  </table>
  
  <mat-card *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
  <!-- Elementos de paginación-->
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
  
